/* Base Elements */

html, body {
  font-family: Helvetica;
  font-size: 18px;
  color: white;
}

/* Classes */

.container {
  max-width: 960px;
  margin: 0 auto;
}

.company-header {
  background-color: black;
  color: white;
  padding: 0.66rem 0;
  text-transform: uppercase;
}

.company-header img {
  height: 1.5rem;
  padding-right: 1rem;
  padding-left: 0.5rem;
}

.company-header span {
  padding-bottom: 0.5rem;
}

.main-banner {
  background-image: url(../resources/images/moto.jpeg);
  background-repeat: none;
  background-position: center;
  background-size: cover;
  height: 25rem;
}

.headline {
  background-color: black;
  text-transform: uppercase;
  font-weight: bold;
  width: 20rem;
  padding: 2rem 3rem;
  position: relative;
  top: 9rem;
}

.headline h4 {
  font-size: 1rem;
  margin-bottom: 1.25rem;
}

.headline h1 {
  font-size: 2rem;
  line-height: 2.5rem;
}

nav {
  background-color: firebrick;
}

nav ul {
  padding: 0.75rem 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
}

.mobile-nav {
  display: none;
}

.products {
  display: flex;
  margin: 3rem 0 0 0;
  justify-content: space-between;
}

.product {
  width: 30%;
}

.product-image {
  height: 9rem;
  padding: 2rem 0;
  border: 4px solid black;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.product-image img {
  max-width: 8em;
}

.product-desc {
  background-color: black;
  display: block;
  text-align: center;
  padding: 0.5rem 0;
}

.business-info {
  display: flex;
  justify-content: space-between;
  margin: 3rem 0 0 0;
}

.info {
  width: 35%;
  color: black;
}

.title {
  background-color: black;
  display: block;
  text-align: left;
  padding: 1rem 0 1rem 2rem;
  color: white;
}

footer {
  margin-top: 4rem;
  padding: 5rem 0;
  background-color: black;
}

/* Media queries */

@media only screen and (max-width: 1024px) {
  nav ul {
    display: none;
  }

  .mobile-nav {
    display: block;
    text-align: center;
  }

  .product {
    width: 47%;
  }

  .sunglasses {
    display: none;
  }
}

@media only screen and (max-width: 470px) {
  .main-banner {
    height: 15rem;
  }

  .headline {
    width: 100%;
    padding: 1rem 2rem;
    top: 8.6rem;
  }

  .product {
    width: 90%;
    margin: auto;
  }

  .watch {
    display: none;
  }

  .headline h4 {
    font-size: 0.77em;
  }

  .headline h1 {
    font-size: 1em;
  }

  .business-info {
    flex-wrap: wrap;
  }

  .info {
    width: 90%;
    margin: auto;
    margin-bottom: 0.5rem;
  }

  footer {
    text-align: center;
  }
}
